
.outer-box {
    margin: 20px;
    background: linear-gradient(135deg, #3494E6, #EC6EAD);
    padding: 20px;
    border-radius: 10px;
    
    
}


.inner-box {
    text-align: center;
    background: #FFFFFF; /* Set a beautiful background color for the inner box */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* Style the header */
.signup-header {
    margin-bottom: 20px; /* Add spacing below the header */
}

/* Style the form within the body */
.signup-body form {
    max-width: 300px; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */
}

/* Style the label and input elements */
.signup-body label {
    display: block; /* Display labels as block elements to stack them vertically */
    text-align: left; /* Adjust the text alignment */
    margin-bottom: 10px; /* Add spacing below each label */
}

.signup-body input {
    width: 100%; /* Make input fields take the full width of their container */
    padding: 10px; /* Add padding for spacing inside input fields */
    margin-bottom: 20px; /* Add spacing below each input field */
}

/* Style the submit button */
.signup-body #submit {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style the footer */
.signup-footer {
    margin-top: 20px; /* Add spacing above the footer */
}
